.navbar .navbar-brand {
    margin-left: 15px !important;
}

@media screen and (min-width: 750px) {
    .nav-justified {
        width: 50%;
    }

}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #FF3E01;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#content-div {
    margin: 20%;
    padding: 4%;
}


.footer {
    /*height: 280px;*/
    width: 100%;
    background: url(/images/footer-bg.jpg) repeat-x;
    float: left;
}

.footer h2 {
    color: #FF3E01;
    font-size: 19px;
    float: left;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.footer ul li {
    width: 33%;
    float: left;
    padding-bottom: 4px;
}

.footer ul li ul {
    width: 100%;
    float: left;
    margin-top: 0;
    padding: 13px 0 9px;
}

.footer ul li ul li {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer ul li ul li a {
    color: #b2b2b2;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}