.navbar .navbar-brand {
    margin-left: 15px !important;
}

@media screen and (min-width: 750px) {
    .nav-justified {
        width: 50%;
    }

}
#back{
    background: #100a00;
}
#text{
    color: orangered;
}